[Unit]
Description=RyzenAdj undervolt service

[Service]
Type=oneshot
# Undervolt by 10mV
ExecStart=/usr/local/bin/ryzenadj --set-coall=10 --set-cogfx=10